.NoMatch {
    background-color: rgba(255, 255, 255, 0.8); /* semi-transparent white */
    color: #17252a; /* very dark blue text */
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* softer shadow */
    backdrop-filter: blur(5px); /* frosted glass effect */
    width: 80%; /* adjust the width as needed */
    max-width: 600px; /* or any max-width you prefer */
    margin: auto;
  }
  
  .NoMatch h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #4657b8; /* a color that complements the background */
  }
  
  .NoMatch p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    color: #4657b8; /* same as h1 for consistency */
  }
  
  .NoMatch .App-button {
    padding: 0.75rem 2rem;
    font-size: 1rem;
    background-color: #2f6cc0; /* blue background for the button */
    color: #d3e4f7; /* lighter blue text to match the background */
    border: 2px solid #0e59a9; /* blue border to stand out */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .NoMatch .App-button:hover {
    background-color: #007bff; /* blue background on hover */
    color: #ffffff; /* white text on hover */
    border-color: #0056b3; /* darker blue border on hover */
  }
  