.App {
  text-align: center;
  color: #ffffff; /* white text for better contrast on the blue background */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../public/blue_background.jpg'); /* your blue background image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #4657b8; /* a color that complements the background */
}

p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  color: #4657b8; /* same as h1 for consistency */
}



